@import 'variables';
@import 'mixins';

.container {
  display: block;
  margin: 0 auto;
  padding: 0 $column-gutter;
  width: 100%;

  @include generate-container ((
    ($screen-small, $container-width-small),
    ($screen-medium, $container-width-medium),
    ($screen-large, $container-width-large)
  ));
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$column-gutter);
}

.col {
  flex: 1 1 auto;
  padding: 0 $column-gutter;
  max-width: 100%;
}

// Generate the cell sizings for different breakpoints
@include generate-cols($columns, (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
);

// Row Horizontal Alignment
@include row-alignment('left', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  justify-content: flex-start;
}

@include row-alignment('right', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  justify-content: flex-end;
}

@include row-alignment('center', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  justify-content: center;
}

// Row Vertical Alignment
@include row-alignment('top', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  align-items: flex-start;
}

@include row-alignment('bottom', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  align-items: flex-end;
}

@include row-alignment('middle', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  align-items: center;
}

// Column Vertical Alignment
@include col-alignment('top', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  align-self: flex-start;
}

@include col-alignment('bottom', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  align-self: flex-end;
}

@include col-alignment('middle', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'))
) {
  align-self: center;
}
