// Number of Columns
$columns: 12 !default;
$column-gutter: 20px !default;

// Container widths
$container-width-large: 1170px !default;
$container-width-medium: 970px !default;
$container-width-small: 750px !default;

// Breakpoints
$screen-large: 1200px !default;
$screen-medium: 992px !default;
$screen-small: 768px !default;